sudo: required
services:
- docker
language: go
go:
- 1.8
env:
  global:
  - PATH=/home/travis/gopath/bin:$PATH DEBIAN_FRONTEND=noninteractive
  - secure: EeYE1tydkV2ageS/OVhmMXhdBJig+dGIEScRTjMGvwCNKwAm4wJadfQz/LIj8I0sYPq8AcdPfc1ZgLs2cpaS4FeqNg8ST9l/ukXtXN+Cj6jvaFuowGdbX1hM+5Jj+083m2AiuO2aAhGbjl6I69tqGkYQAjaJa3nSI8jJv/Ep3YCdX6by2cZL3PQdfuV4duS3jDCTah+lTonmA8lKtNE1VMd0FHqDvkGWpl9AClNwXsnIcdQSHggC6rxFbkgF7o1yYppE+5b5oVgV/j+vONWf/dMBMNn0WiVzlyVuLOCzLe3h6/K9O1r4Vpecn8KI+ldO0EHaf0XbriaQtOcysC8CsxvnFmGhwU+wOy7iruyWao1+qDV6qi5BNjrU06+R75exTMfXbArZ2t1V83CJU20N0DFYBsR2x+fN3KvqXQsK+l0lmDBBs287ZbofV0JtCGgHEUN+0MrL+JNijYmlBTjozbgVpdhpBdGoyp471MkiiE63GxpKvYS+Hq2Q3RcJ+PTwCjWVwHr3z10xs7odlOwuVPPEwLJwVscCoqN1HCnL6z362tua9i/8rUhbwUp7uFw69ZFSTMnZNWIloEDq0RP4ppW0n0Vt1M+4qRplnirFv57AOBNDcPcb0ZVXt17Pb2BDtqVYCCJ8ahCW0AxwKYjCXFee6mNGM9GbOYOpmjNROdw=
addons:
  apt:
    packages:
    - devscripts
    - debhelper
script:
- make build
before_deploy:
- go get github.com/aktau/github-release
- mkdir -p ~/bin
- git clone https://github.com/github/hub.git && cd hub && script/build -o ~/bin/hub
  && cd ..
- echo $TRAVIS_BRANCH
- git config --add remote.origin.fetch '+refs/heads/*:refs/remotes/origin/*'
- git fetch
- git checkout master || git checkout -b master origin/master
- git checkout $TRAVIS_BRANCH
- git fetch --depth=1000
- git fetch --tags --depth=1000 || true
deploy:
- provider: script
  script: scripts/myproject-release --task=create-pullrequest --current-branch=$TRAVIS_BRANCH -v
  skip_cleanup: true
  on:
    all_branches: true
    condition: "$TRAVIS_BRANCH =~ ^bump-version-.*$"
